<h1>Users List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>CNIC</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.cnic %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Search Another User', "/users/search" %>
